################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/BromConsoleNetCore
/BromConsoleFramework
/BromUnitTests
/Cache
/packages
/.vs
/Brom/bin
/Brom/obj
/BromUnitTests/bin/Debug/netcoreapp2.0
/BromUnitTests/obj
