<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="brom_apiSoapBinding" />
            </basicHttpBinding>
            <customBinding>
                <binding name="brom_apiSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://server.itworks.group/bromtest/ws/brom_api"
                binding="basicHttpBinding" bindingConfiguration="brom_apiSoapBinding"
                contract="SOAP.brom_apiPortType" name="brom_apiSoap" />
            <endpoint address="http://server.itworks.group/bromtest/ws/brom_api"
                binding="customBinding" bindingConfiguration="brom_apiSoap12Binding"
                contract="SOAP.brom_apiPortType" name="brom_apiSoap12" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
